<html >
<head>

    <title>MyMongoView | <?= config.connections[params._con].name ?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <base href="<?= appPath+conPath ?>">
    
    <link rel="stylesheet" href="<?= appPath ?>public/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?= appPath ?>public/css/mymongiew.css">
    <link rel="stylesheet" href="<?= appPath ?>public/css/base.css">


    <script src="<?= appPath ?>public/js/plugins/jquery.js"></script>
    <script src="<?= appPath ?>public/js/plugins/bootstrap.min.js"></script>
    <script src="<?= appPath ?>public/js/plugins/jquery.serialize.js"></script>
    <script src="<?= appPath ?>public/js/plugins/ejs.js"></script>

    <script src="<?= appPath ?>public/js/libs/Handler.js"></script>
    <script src="<?= appPath ?>public/js/libs/Html.js"></script>
    <script src="<?= appPath ?>public/js/libs/Storage.js"></script>
    <script src="<?= appPath ?>public/js/libs/Feed.js"></script>
    <script src="<?= appPath ?>public/js/libs/Result.js"></script>
    <script src="<?= appPath ?>public/js/libs/Views.js"></script>

    <script type="text/javascript">
        APP_HOST = '<?= appPath ?>';
        APP_PATH = '<?= appPath+conPath ?>';
        APP_DATA = <?- JSON.stringify(data) ?>;
        APP_CONNECTION = '<?= params._con ?>';
        APP_TEST = {};
    </script>
    
    <script src="<?= appPath ?>public/js/mmg.js"></script>
    <script src="<?= appPath ?>public/js/mmgviews.js"></script>

</head>

<body>
    
    <div class="base">
        <div class="box">
            <div class="col-md-3 sidebar rows bgdarker">
                <div class="header no-selection">
                    <div class="col-md-3 logo">
                        <a href="https://anwerjunaid.github.io/mymongoview/#/" target="_blank"><span>MMV</span></a>
                    </div>

                    <div class="col-md-8 logo-side">
                        <select class="" id="connect">
                            <? config.connections.forEach(function(c, i) { ?>
                                <option value="<?=i ?>" <?=(i == params._con) ? 'selected' : '' ?> ><?= c.name ?> </option>
                            <?});?>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 side-navs">
                    <div class="viewlist active">
                        <div class="title btn" role="button">
                            <span class="text-primary">Views </span><small class="text-muted btn-xs">(Click to toggle views)</small>
                        </div>
                        <div class="collist btn pull-right">
                            <span class="text-primary">Collections</span>
                        </div>
                        <div class="connection_details viewlistactive text-muted">
                            <div class=""> <b>Name : </b><?= config.connections[params._con].name ?> </div>
                            <div class=""> <b>Container : </b><?= config.connections[params._con].container ?> </div>
                        </div>
                        <ul class="strip viewlistactive" id="views-list"></ul>
                    </div>
                    <ul class="navlist" data-count="0"></ul>
                </div>
            </div>

            <div class="col-md-9 rows views">
                <div class="collections col-md-12 rows">
                    <div class="col-md-12 collectionbar">
                        <div class="col-md-8 rows">
                            <input id="searchCollection" class="form-control" name="name" value="">
                        </div>
                        <div class="col-md-3 rows pull-right text-right">
                            <span class="btn-group">
                                <button id="refreshCollection" type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-refresh"></span> Refresh
                                </button>
                                <button type="button" class="btn btn-default collist">Cancel</button>
                            </span>
                        </div>
                    </div>
                    <? collections.forEach(function(item){ ?>
                        <div class="col-md-4 collectionbtn btn-info" role="button" title="<?= item.name ?>" data-collection="<?= item.name ?>">
                            <div class="colstring btn-md " >
                                <?= item.name ?>
                            </div>
                            <small><?= item.count ?> docs</small>
                        </div>
                    <? }) ?>                    
                </div>

                <div class="queries col-md-12 rows">

                </div>

                <div class="results col-md-12 rows">
                    <div class="result active markeddown">
                        <?- docs ?>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script id="tViewSide" type="text/html">
        <% views.forEach(function(view, key){ %>
            <li><a class="viewname" id="<%=key %>_item" href="#i:<%=key %>/s:1" data-name="<%=view %>" data-index="<%=key %>"><%=view %></a></li>
        <% }) %>
    </script>
    
    <script id="tViewNav" type="text/html">
        <li class="viewnav view-<%=index %> <%= parent ? 'hasParent parentnav'+parent : '' %>" id="<%=id %>">
            <span class="vn-name"><span class="glyphicon"></span><%= (index+1)+". "+name %></span>
            <span class="vn-action remove"> <span class="glyphicon glyphicon-remove"></span> </span> 
        </li>
    </script>
    
    <script id="tQuery" type="text/html">

            <div class="col-md-12 rows query no-selection bglite" id="<%=id %>">
                <form class="viewform" action="/view" method="post">
                    <div class="col-md-12 rows" border="0">
                        <input type="hidden" name="action" value="<%=view.action || 'find' %>" >
                        <div class="col-md-12 querow">
                            <div class="col-md-3 rows">
                                <b class="title"><%=view.action || 'find' %></b>
                                <span class="btn-group btn-group-xs pull-right">
                                    <span class="btn btn-success btn-xs addFilter" data-toggle="modal" data-target="#<%=id %>fPrompt">
                                        Add filter
                                    </span>
                                    <!-- <span class="btn btn-success btn-xs updateDoc" data-toggle="modal" data-target="#<%=id %>fUpdate">
                                        Update
                                    </span> -->
                                </span>
                            </div>

                            <div class="col-md-6 ">
                                <input class="qcollection form-control" name="collection" value="<%=view.collection %>" readonly="">
                            </div>
                            <div class="col-md-3 text-right rows">
                                <span class="queryActions btn-group">

                                    <button type="submit" class=" submit btn btn-xs btn-success">
                                         <span class="glyphicon glyphicon-repeat"></span> Submit
                                    </button>

                                    <button type="reset" class=" reset btn btn-xs btn-info">
                                        <span class="glyphicon glyphicon-refresh"></span> Reset
                                    </button>

                                    <button type="reset" class=" remove btn btn-xs btn-danger">
                                        <span class="glyphicon glyphicon-remove"></span> Remove
                                    </button>
                                </span>

                            </div>
                        </div>

                        <div class="col-md-12 querow">
                            <div class="pull-left qpromt"></div>

                            <div class="pull-right text-right">
                                <% if(view.action === 'distinct'){ %>
                                    <span class="input-item">
                                        <span>Key</span>
                                        <input list="<%=id %>key" class="qkey form-control" name="key" value="<%= view.key && view.key[0] %>">
                                        <datalist id="<%=id %>key">
                                            <% if(view.key){
                                             view.key.forEach(function(value, key){ %>
                                                <option value="<%=value %>" selected><%=value %></option>
                                            <% }); } %>
                                        </datalist>
                                    </span>
                                <% } else { %>
                                    <span class="input-item">
                                        <span>Page</span>
                                        <input class="qpage form-control input-xs" name="page" type="number" value="1">
                                    </span>
                                    <span class="input-item">
                                        <span>Limit</span>
                                        <select class="qlimit form-control" name="limit">
                                            <% [10,20,30,50].forEach(function(value, key){ %>
                                                <option value="<%=value %>"><%=value %></option>
                                            <% }); %>
                                        </select>
                                    </span>
                                <% } if(view.group){ %>
                                    <span class="input-item">
                                        <span>Group</span>
                                        <input list="<%=id %>group" class="qgroup form-control input-s" name="group" value="<%= view.group[0] %>">
                                        <datalist id="<%=id %>group">
                                            <% view.group.forEach(function(value, key){ %>
                                                <option value="<%=value %>" selected><%=value %></option>
                                            <% }); %>
                                        </datalist>
                                    </span>
                                    <span class="input-item">
                                        <span>Acc</span>
                                        <select class="qaccumulator form-control" name="accumulator">
                                            <% (view.accumulator || ['sum','avg','min','max']).forEach(function(value, key){ %>
                                                <option value="<%=value %>"><%=value %></option>
                                            <% }); %>
                                        </select>
                                    </span>
                                    <span class="input-item">
                                        <span>AccField</span>
                                        <input class="qaccumulator_field form-control input-s" name="accumulator_field" value="<%= view.accumulator_field || 1  %>">
                                    </span>

                                <% } %>
                                
                                <span class="input-item">
                                    <span>Sort By</span>
                                    <select class="qsort form-control" name="sortOn">
                                        <% (view.sort || ['_id']).forEach(function(value, key){ %>
                                            <option value="<%=value %>"><%=value %></option>
                                        <% }); %>
                                    </select>
                                </span>
                                <span class="input-item">
                                    <span>Sort Order</span>
                                    <select class="qorder form-control" name="orderOn">
                                        <% ['DESC','ASC'].forEach(function(value, key){ %>
                                            <option value="<%=value %>"><%=value %></option>
                                        <% }); %>
                                    </select>
                                </span>

                            </div>

                        </div>

                    </div>
                </form>
                
                <div id="<%=id %>fPrompt" class="modal fade fpromptModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        
                        <form class="form qpromtAdd" >
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Add Filter</h4>
                                </div>
                                <div class="modal-body">
                                    
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-8 form-group">
                                                <label>Key Name</label>
                                                <input class="form-control" name="name">
                                            </div>
                                            <div class="col-md-2 form-group">
                                                <label>Operator</label>
                                                <select class="form-control" name="operator">
                                                    <%= Html('#tOptionArray', {options : APP_DATA.operators, selected : 'eq'}) %>
                                                </select>
                                            </div>
                                            <div class="col-md-2 form-group">
                                                <label>Data Type</label>
                                                <select class="form-control" name="dataType">
                                                    <%= Html('#tOptionArray', {options : APP_DATA.dataTypes, selected : 'string'}) %>
                                                </select>
                                            </div>                                            
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-12 form-group">
                                                <label>Value(Optional)</label>
                                                <input class="form-control" name="value">
                                            </div>                                           
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                <div class="modal-footer">
                                    <span class="btn-group">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-default btnAddFilter" >Add Filter</button>
                                        <button type="submit" class="btn btn-default" >Submit</button>
                                    </span>
                                </div>
                            </div><!-- /.modal-content -->
                        </form>
                    </div><!-- /.modal-dialog -->
                </div>
                
                <div id="<%=id %>fUpdate" class="modal fade fupdateModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        
                        <form class="form updateForm" >
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Update Documents</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Filters</label>
                                            <textarea class="form-control" name="filter">{}</textarea>
                                        </div>
                                        <div class="col-md-12">
                                            <label>To Set</label>
                                            <textarea class="form-control" name="set">{}</textarea>
                                        </div>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" >Add Filter</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </form>
                    </div><!-- /.modal-dialog -->
                </div>
                
            </div>
    </script>
    
    <script id="tPrompt" type="text/html">
        <span id="<%= id %>" class="ipromt input-item" >
            <span class="input-name">
                <b class="pull-left" onclick="toggleInput('#input<%= id %>')"><%=prompt.name %></b>
                <span class="pull-right"> <%=prompt.operator %> | 
                    <select class="ipinput" name="filter[<%= prompt.name %>][dataType]" >
                        <%= Html('#tOptionArray', {options : APP_DATA.dataTypes, selected : prompt.dataType}) %>
                    </select> | 
                <b class="removePrompt" data-remove="<%= id %>"> x </b></span>
            </span>
            
            <input id="input<%= id %>" list="datalist<%= id %>" onfocus="this.value = this.value;" class="form-control" type="<%=prompt.type %>" name="filter[<%= prompt.name %>][operators][<%= prompt.operator %>]" value="<%= prompt.value || '' %>"/>
                <datalist id="datalist<%= id %>">
                    <option value=""> select <%=prompt.name %></option>
                </datalist>
        </span>
    </script>
    
    <script id="tResult" type="text/html">
        <div class="result" id="<%=id %>"></div>
    </script>
    
    <script id="tResultTop" type="text/html">
        <div class="rTopBar wide bglite">
            <b>Filtered: </b><%=meta.count || 0 %>, <b>Run Time : </b> <%= meta.endAt - meta.startAt %>ms <br>
            <b>Query : </b>
            <code class="rTopQuery" contenteditable="true" spellcheck="false"><%= meta.query %></code>
            
        </div>
        <div class="wide result-set"></div>
        <div class="rBottomBar wide bglite">
            <span class="pull-right btn-group btn-group-xs">
                <% if(meta.context.action === 'find' && meta.hasMore){ %>
                    <button class="btn btn-success rNextPage" 
                            data-last-entry="<%= meta.lastEntry %>" 
                            data-entry-type="<%= Html.valueType(meta.lastEntry).valueType %>"
                            data-sort-on="<%= meta.context.sortOn %>"
                            data-sort-order="<%= meta.context.order %>"
                            > Next Page </button>
                <% } %>
            </span>
        </div>
    </script>
    
    <script id="tResultSet" type="text/html">
        <div class="result-box" data-collection="<%= collection%>" data-value="<%= item._id %>" data-value-type="<%= Html.valueType(item._id).valueType %>">
            <div class="result-actions">
                <span class="btn-group btn-group-xs">
                    <span class="btn btn-xs btn-info ra-expand">Expand</span>
                    <span class="btn btn-xs btn-info ra-beautify">Beautify</span>
                    <span class="btn btn-xs btn-info ra-refresh">Refresh</span>
                    <span class="btn btn-xs btn-info ra-update">Update</span>
                    <span class="btn btn-xs btn-info ra-delete">Delete</span>
                </span>
                <span class="btn-xs ra-rotator"><span class="glyphicon glyphicon-refresh hide"></span></span>
                <% if(join){ var cjoin; %>
                <span class="btn-group btn-group-xs pull-right">
                    
                    <% for(var toCollection in join){
                            cjoin = join[toCollection]
                    %>
                        <span class="btn btn-success ra-join" 
                            data-to-collection="<%=toCollection %>"
                            data-on-field="<%=cjoin.on %>"
                            data-from-field="<%=cjoin.from %>"
                            data-collection-select="<%=cjoin.select %>">
                            <%= toCollection %>
                        </span>
                    <% } %>

                </span>
                <% } %>
            </div>
            <div class="result-items">
                <div class="result-data result-data-prettified">
                    <pre class="text-info"><%= JSON.stringify(item, null, 2) %></pre>
                </div>
                <div class="result-data result-data-beautified">
                    
                </div>
            </div>
        </div>
    </script>
    
    <script id="tResultList" type="text/html">
        <div class="result-data result-list-item">
            <pre class="text-info"><%= JSON.stringify(item, null, 2) %></pre>
        </div>
    </script>
    
    <script id="tResultError" type="text/html">
        <div class="rTopBar">
            <div class="result-set error alert alert-danger">
                <%= responseText %>
            </div>
        </div>
    </script>
    <script id="tOptionArray" type="text/html">
        <% options.forEach(function(value, index){ %>
            <option value="<%=value %>" <%= selected == value ? 'selected' : '' %> ><%=value %></option>
        <% }); %>
    </script>
    
    <script id="tResultBeauty" type="text/html">
        <ul class="rbeauty">
            <% 
            var valueMap = {};
            for(var i in item){ %>
                <% lkey = key ? key+'.'+i : i %>
                <li class=""><span class="rbkey" data-key-type="<%=typeof item[i] %>" data-key="<%= lkey %>"> <%= i %></span>
                <% if(typeof item[i] === 'object'){ %>
                    <span class="rbval-ul"><%= Html.beautify(item[i], lkey) %></span>
                <% } else { 
                    valueMap = Html.valueType(item[i]);
                    %>
                    <span class="rbval-li">|
                        <span class="rbval" data-key="<%= lkey %>" data-value-type="<%= valueMap.valueType %>" contenteditable="true" spellcheck="false" data-value="<%= valueMap.value %>"><%= valueMap.value %></span>
                        <span class="rbval-actions">
                            <span class="rbval-reset"><i class="glyphicon glyphicon-refresh"></i></span>
                        </span>
                    </span>
                <% } %>
                </li>
            <% } %>
        </ul>
    </script>
    
</body>
</html>
